/* Mars Wether Common style */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:checked ~ .unit__toggle::after {
  margin-left: 3px;
  border-color: red;
}

.css-af7pv3.unit-icons {
  vertical-align: middle;
}
